{% extends "web/base.html" %}

{% block title %}Index{% endblock title %}

{% block content %}
<h2>Добро пожаловать в наш чудесный интернет-магазин.</h2>
<hr>
<p>В БД есть 3 товара:</p>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "api:get_stripe_session_id" 1 %}'>{% url "api:get_stripe_session_id" 1 %}</a></p>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "api:get_stripe_session_id" 2 %}'>{% url "api:get_stripe_session_id" 2 %}</a></p>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "api:get_stripe_session_id" 3 %}'>{% url "api:get_stripe_session_id" 3 %}</a></p>
<hr>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "web:item_card" 1 %}'>{% url "web:item_card" 1 %}</a></p>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "web:item_card" 2 %}'>{% url "web:item_card" 2 %}</a></p>
<p><a href='{{ request.scheme }}://{{request.get_host}}{% url "web:item_card" 3 %}'>{% url "web:item_card" 3 %}</a></p>
<hr>
<p>реализованы бонусные задачи:</p>
<ul>
    <li>Запуск используя Docker</li>
    <li>Использование environment variables</li>
    <li>Просмотр Django Моделей в Django Admin панели</li>
</ul>
<hr>
<p><a href='{{ request.scheme }}://{{request.get_host}}/admin'>Панель администратора</a></p>
<p>login: admin</p>
<p>password: 123</p>
{% endblock content %}
